@use "../../shared";

#admin_page {
    color: shared.$fg-color;
    @include shared.rails;
    text-align: center;
}

#ledger {
    border: 3px shared.$fg-color solid;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    @include shared.mobile {
        padding: 15px;
    }
}

#sum {
    font-size: 20px;
}

.error {
    color: red;
}

#mailto {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    color: shared.$fg-color;
}