@use "../../shared";

.button {
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    background-color: lighten(shared.$bg-color, 10%);
    border: none;
    border-radius: 50px;
    padding: 20px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    color: shared.$fg-color;
    @include shared.mobile {
        font-size: 33px;
        padding: 30px 20px;
    }
}
