@use "../../shared";

#home_page {
    color: shared.$fg-color;
    @include shared.rails;
    text-align: center;
}

#tables_container {
    margin-top: 50px;
}

#logo {
    max-height: 20vh;
    max-width: 100%;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#create_table_button {
    color: #FFFFFF77;
    border: 3px solid #FFFFFF77;
    border-style: dashed;
    border-radius: 10px;
    margin: 0px 0px 50px 0px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    font-size: 80px;
}

#create_table_modal {
    text-align: center;
    color: shared.$fg-color;
    border: 3px solid shared.$fg-color;
    border-radius: 10px;
    margin: 0px 0px 50px 0px;
    padding: 40px;
}