@use "../../shared";

.input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.label {
    font-size: 30px;
}
.input {
    font-family: "Nunito Sans", sans-serif;
    background: transparent;
    border: none;
    border-bottom: 5px dotted shared.$fg-color;
    color: shared.$fg-color;
    padding: 0.5rem 0;
    display: inline;
    font-size: 30px;
    width: 25%;

    &:focus {
        outline: none;
    }
    &.large {
        width: 60%;
    }
    &.file {
        font-size: 12px;
    }
}