@use "../../shared";

#ledger_table {
    margin-top: 50px;
    width: 100%;
    &, & th, & td {
        padding: 7px;
        border: 1px solid shared.$fg-color;
        border-collapse: collapse;
    }
    @include shared.mobile {
        font-size: 12px;
        &, & th, & td {
            padding: 3px;
        }
    }
}
.lost {
    color: #FF0000;
}
.won {
    color: #00FF00;
}

.link {
    margin-left: 7px;
    color: #5555FF;
}

.email_warning {
    color: #ffd900;
}