@use "../../shared";

#table_page {
    color: shared.$fg-color;
    @include shared.rails;
    text-align: center;
}
#buy_out_modal, #buy_in_modal {
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid shared.$fg-color;
    @include shared.mobile {
        padding: 15px;
        margin-top: 30px;
    }
}
#chip_image {
    border-radius: 15px;
    max-width: 75%;
    max-height: 50vh;
}

.error {
    color: red;
}

.admin_link {
    font-size: 20px;
    margin-top: 30px;
    a {
        color: shared.$fg-color;
    }
}
